/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

 .banner {
	height: 100vh;
	display: flex;
    flex-direction: column;
	background-size: cover;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), image-url('montreux');
	h1 {
	  color: white;
	  font-weight: bold;
	  font-size: 45px;
	}
	p {
		color: white;
		font-size: 20px;
		font-weight: lighter;
		margin-bottom: 30px;
	}
}

.btn-flat {
	color: white;
	padding: 8px 24px;
	border-radius: 4px;
	background: #3581b8;
	transition: background 0.3s ease;
	margin: 0px 4px 0px;
  }
  
  .btn-flat:hover {
	background: #A1D2CE;
	color: white;
  }

  .comment-section {
	margin-top: 30px;
	padding: 16px;
	background-color: rgba(0,0,0,0.6);
	max-height: 300px;
	overflow: scroll;
	p {
	  font-size: 16px;
	}
  }

  .comment-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  .avatar {
	border-radius: 50%;
	height: 50px;
	width: 50px;
  }